:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  color: var(--dark);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}

.header-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header-list {
    justify-content: space-between;
    position: relative;
  }
}

.header-logo {
  display: inline-flex;
  padding: 24px 0 24px 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: inherit;
  color: var(--primary-brand);
}

.header-studio {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
}

.menu-btn {
  margin: 0;
  padding: 24px 16px 24px 0;
  border: none;
  fill: var(--dark);
  background-color: transparent;
}

.menu-btn .icon-close {
  display: none;
}

.menu-btn.is-open .icon-close {
  display: block;
}

.menu-btn.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 796px;
    padding: 80px 40px 40px 40px;
    background: #ffffff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .menu-container.is-open {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    padding: 0;
    margin: 0 0 284px 0;
  }
  .header-nav li:not(:last-child) {
    margin-bottom: 40px;
  }
}

.nav-link {
  position: relative;
  color: var(--dark);
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  text-decoration: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover {
  color: var(--primary-brand);
}

.nav-link:active {
  color: var(--pressed-state);
}

@media screen and (max-width: 767px) {
  .adress-nav {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }

  .adress-link {
    display: flex;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4d5ae5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .adress-mail {
    display: flex;
    margin-bottom: 48px;
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .socials-menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .socials-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .socials-link:hover {
    background-color: var(--pressed-state);
  }
}

.header-adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  font-style: inherit;
}

.adress-link {
  color: var(--dark);
  text-decoration: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-link:hover {
  color: var(--primary-brand);
}

.adress-link:active {
  color: var(--pressed-state);
}

.hero {
  height: auto;
  background-color: var(--dark);
}

.banner-title {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 72px;
  padding-top: 112px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--white-background);
}

.ban-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 112px;
}

.banner-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  width: 169px;
  height: 56px;
  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.banner-button:hover {
  background-color: var(--pressed-state);
}

.about-item {
  margin: 0;
  padding: 96px 0 0 0;
}

.about-item .icon {
  display: none;
}

.about-subtitle {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--dark);
}

@media screen and (max-width: 767px) {
  .about-subtitle {
    display: flex;
    justify-content: center;
  }
}

.about-text {
  display: flex;
  justify-content: center;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

@media screen and (max-width: 767px) {
  .about-item li:not(:last-child) {
    margin-bottom: 72px;
  }
}

.about-item li:last-child {
  margin-bottom: 96px;
}

.type-of-work {
  display: none;
}

.team {
  background-color: #f4f4fd;
}

.team-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 72px;
  padding-top: 96px;
}

.team-list {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team-list li {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-background);
}

@media screen and (max-width: 767px) {
  .team-list li:not(:last-child) {
    margin-bottom: 72px;
  }
}

.team-list:last-child {
  padding-bottom: 96px;
}

.team-image {
  display: block;
  margin-bottom: 32px;
}

.subtitle-list {
  padding: 32px 16px 0 16px;
}

.team-subtitle {
  display: flex;
  justify-content: center;
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.shadow {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0px 0px 4px 4px;
}

.shadow:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-desc {
  display: flex;
  justify-content: center;
  margin: 0 0 8px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.socials {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0 16px 32px 16px;
}

.socials-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover {
  background-color: var(--pressed-state);
}

.link-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  fill: var(--subtle-text);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-list li:not(:last-child) {
  margin-right: 24px;
}

.link-list a:hover {
  fill: var(--pressed-state);
  border-color: var(--pressed-state);
}

.link-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 16px;
  cursor: pointer;
  margin: 0;
  padding: 0 0 96px 0;
}

.link-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  fill: var(--subtle-text);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-list a:hover {
  fill: var(--pressed-state);
  border-color: var(--pressed-state);
}

.footer-business {
  background: var(--dark);
}

.footer-logo {
  justify-content: center;
  padding: 96px 0 0 0;
}

@media screen and (max-width: 767px) {
  .footer-logo {
    margin-bottom: 72px;
  }
}

.footer-icon {
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-studio {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light);
}

.footer-desc {
  margin: 0 auto;
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
}

.footer-studio {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light);
}

.social-text {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-background);
  margin: 0;
  margin-bottom: 16px;
}

.footer-active:active {
  background: #31d0aa;
}

@media screen and (max-width: 767px) {
  .social-media {
    margin-bottom: 72px;
  }
}

.footer-link {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 16px;
  margin: 0;
}

.subscribe {
  display: flex;
}

@media screen and (max-width: 767px) {
  .subscribe {
    flex-direction: column;
    align-items: center;
  }
}

.sub-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-content > p {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 0 16px 0;
}

.subscribe > input {
  height: 40px;
  width: 398px;
  background-color: var(--dark);
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  padding: 5px 20px;
  outline: none;
}

.subscribe > ::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0;
}

.submit-button {
  display: flex;
  align-items: center;
  height: 40px;
  width: 159px;
  background-color: var(--primary-brand);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  border: 0;
  padding: 8px 21px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover {
  background-color: var(--pressed-state);
}

.submit-button:active {
  background-color: #31d0aa;
}

.submit-icon {
  margin-left: 16px;
}

@media screen and (max-width: 767px) {
  .submit-footer {
    margin-top: 16px;
  }
}

/*PORTFOLIO*/

header {
  border-bottom: 1px solid #e7e9fc;
}

.portfolio-content {
  padding: 96px 0 120px 0;
}

.portfolio-filters {
  display: flex;
  justify-content: center;
  margin: 0 0 72px 0;
}

.portfolio-filters li:not(:last-child) {
  margin-right: 24px;
}

.button-link:hover {
  background-color: var(--pressed-state);
  color: var(--white-background);
}

.button-link {
  padding: 0;
  border: 1px solid #e7e9fc;
  width: 116px;
  height: 48px;
  background-color: var(--light);
  color: var(--primary-brand);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-of-services {
  padding-left: 16px;
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.app-text {
  margin: 0;
  padding-left: 16px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
}

.marketing-text {
  margin: 0;
  padding-left: 16px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
}

.design-text {
  margin: 0;
  padding-left: 16px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
}

.web-text {
  margin: 0;
  padding-left: 16px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin: 0;
  padding: 0;
}

.overflow-content {
  position: relative;
  overflow: hidden;
}

.overflow-text {
  position: absolute;
  content: '';
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  text-align: left;
  color: var(--white-background);
}
.shadow-portfolio:hover .overflow-text {
  transform: translateY(0);
}

.text-border {
  padding: 32px 0;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.shadow-portfolio {
  display: block;
  text-decoration: none;
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shadow-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.img-no-gap {
  display: block;
}

.portfolio-footer-list {
  padding: 99px 1030px 101px 146px;
}

/*MODAL*/

.backdrop {
  display: flex;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);
}

.backdrop {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 72px 24px 24px;
  min-width: 408px;
  min-height: 576px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e7e9fc;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover {
  background-color: var(--primary-brand);
  fill: #ffffff;
}

.close:active {
  background-color: var(--pressed-state);
  fill: #ffffff;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;

  text-align: center;
  letter-spacing: 0.02em;
}

.modal-form-croup {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  color: #8e8f99;
  margin-bottom: 8px;
}

.comentat {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  color: #8e8f99;
  margin-bottom: 16px;
}

.write-place {
  padding: 8px 0 0 16px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-croup > input {
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 0 30px 0 40px;
}

.input-icon {
  position: absolute;
  top: 26px;
  left: 16px;
  fill: #2e2f42;
}

.modal-form-croup > input:focus + .input-icon {
  fill: var(--pressed-state);
}

.modal-form-croup > input:focus {
  border-color: var(--primary-brand);
  outline: transparent;
}

.modal-form-croup > textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}

.modal-form-croup > textarea:focus {
  border-color: var(--pressed-state);
  outline: transparent;
}

.modal-checkbox {
  border-radius: 4px;
  color: #8e8f99;
  padding-bottom: 24px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  color: transparent;
  margin-right: 10px;
}

.custom-checkbox-icon {
  display: flex;
  fill: currentColor;
}

.checkbox-label {
  margin-right: 5px;
}

.checkbox:checked + label .custom-checkbox {
  color: #ffffff;
  background-color: var(--primary-brand);
}

.modal-button {
  width: 169px;
  height: 56px;
  border: 0;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit {
  display: flex;
  justify-content: center;
  padding: 0 0 24px 0;
}

.modal-button:hover {
  background-color: var(--pressed-state);
}

.modal-form-croup > label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.privat-polycy {
  display: inline-flex;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

/*==========================================
---------------=--MEDIA------------------------
=============================================*/

@media screen and (min-width: 768px) {
  .socials-menu {
    display: none;
  }

  .container {
    width: 768px;
  }

  .menu-btn {
    display: none;
  }

  .menu-container {
    display: flex;
    align-items: center;
  }

  .header-nav {
    display: inline-flex;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--dark);
    text-decoration: inherit;
    padding-left: 120px;
    padding-right: 122px;
  }

  .nav-link {
    position: relative;
    color: var(--dark);
    font-weight: 500px;
    font-style: normal;
    font-size: 16px;
    text-decoration: inherit;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio::after {
    position: absolute;
    display: flex;
    bottom: 0;
    margin: 0 auto;
    width: 48px;
    height: 4px;
    content: '';
    background: #404bbf;
    border-radius: 2px;
  }

  .portfolio::after {
    position: absolute;
    display: flex;
    bottom: 0;
    margin: 0 auto;
    width: 66px;
    height: 4px;

    content: '';
    background: #404bbf;
    border-radius: 2px;
  }

  .header-nav li:not(:last-child) {
    margin-right: 40px;
  }
  .adress-nav {
    padding: 0;
    margin: 0 0 0 0;
    margin-bottom: 0;
  }

  .adress-nav li {
    font-weight: 400px;
    font-size: 12px;
    line-height: 14px;
  }

  .adress-nav li:not(:last-child) {
    margin-bottom: 12px;
  }

  .banner-title {
    margin-bottom: 36px;
  }
  .about-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .about-item li {
    flex-basis: calc((100% - 24px) / 2);
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-list li {
    flex-basis: calc((100% - 24px) / 2);
  }

  .footer-logo {
    display: inline-block;
    padding-left: 108px;
    margin-bottom: 72px;
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
  }

  .social-media {
    display: inline-block;
    margin-left: 24px;
    padding-top: 96px;
  }
  .subscribe-content {
    padding-left: 108px;
    padding-bottom: 96px;
  }
  .subscribe-content p {
    justify-content: flex-start;
  }

  .submit-footer {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }

  .header-nav {
    display: inline-flex;
    padding: 24px 0;
    margin: 0 332px 0 76px;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--dark);
    text-decoration: inherit;
  }

  .header-list {
    display: flex;
    align-items: center;
  }

  .nav-link {
    position: relative;
    color: var(--dark);
    font-style: normal;
    font-size: 16px;
    text-decoration: inherit;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero {
    position: relative;
    max-width: 1440px;
    padding: 188px 0px;
    background-color: var(--dark);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner-title {
    margin: 0 0 48px 0;
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--white-background);
  }

  .about {
    padding-top: 120px;
  }

  .about-subtitle {
    margin: 0 0 8px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
  }

  .about-item {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .about-item li {
    width: 264px;
    margin-bottom: 120px;
    padding: 0;
  }

  .about-item li:not(:last-child) {
    margin-right: 24px;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 8px 0;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
  }

  .about-text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
  }

  .type-of-work {
    padding-bottom: 120px;
  }

  .work-title {
    display: flex;
    justify-content: center;
    margin: 0 0 72px 0;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: var(--dark);
  }

  .work-content {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .work-content li:not(:last-child) {
    margin-right: 24px;
  }

  .team {
    padding: 120px 0;
    background: var(--light);
  }
  .team-title {
    display: flex;
    justify-content: center;
    margin: 0 0 72px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
  }

  .team-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .team-list li:not(:last-child) {
    margin-right: 24px;
  }

  .team-image {
    display: block;
  }

  .team-subtitle {
    margin: 0 0 8px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
  }

  .team-desc {
    margin: 0 0 8px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
  }

  .socials {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 16px 32px 16px;
  }

  .link-content {
    padding: 120px 0;
  }
  .link-list {
    display: flex;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  .footer-business {
    background: var(--dark);
    padding: 100px 0;
  }

  .footer-content {
    display: flex;
  }
  .footer-logo {
    display: block;
  }
  .footer-icon {
    padding: 0;
    margin-bottom: 16px;
  }

  .social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white-background);
    margin: 0;
    margin-bottom: 16px;
  }
  .social-media {
    display: block;
    margin-left: 120px;
  }
  .footer-link {
    display: flex;
    padding: 0;
    gap: 16px;
    margin: 0;
  }
  .subscribe {
    display: flex;
    margin: 0 0 0 80px;
  }
  .subscribe-mail {
    flex-direction: column;
    margin-right: 24px;
  }
  .subscribe-content > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-left: 80px;
    margin-top: 0;
  }
  .subscribe > input {
    height: 40px;
    width: 264px;
    background-color: var(--dark);
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    padding: 5px 20px;
    margin-right: 24px;
    outline: none;
  }
}
